# ─── Supabase ────────────────────────────────────────────────────
SUPABASE_URL=https://fowiieogdufdxlqtgsuw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvd2lpZW9nZHVmZHhscXRnc3V3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4ODM0MTAsImV4cCI6MjA4NzQ1OTQxMH0.7E0je8rM75gYbAFvOGOQWuA4v7wOapKTOi1KkSO7Ozs
SUPABASE_JWT_SECRET=vTLPHPizn/NfpnQ3i27nBLEAqgHPrhxn9ZfKrxh2mOVyJ4K3o0HpGwyXXgza8+BanbuMrsaux8wpbIQvGjIsqg==

